{% extends 'base/main.html' %}
{% block content %}

<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>

<div class="gamer-container">
    
    <div class="gamer-header-bar">
        <h1>Level UP, {{request.user|title}}! </h1>
        {% if request.user.is_authenticated %}
            <a href="{% url 'logout' %}" class="gamer-logout-btn">Logout</a>
        {% else %}
            <a href="{% url 'login' %}" class="gamer-login-btn">Login</a>
        {% endif %}
    </div>
    
    <div class="gamer-header-bar-bottom">
        <h3>Quests Pending: <i>{{count}}</i></h3>
    </div>
    
    <form method="GET" class="gamer-search-form">
        <input type='text' name='search-area' placeholder="Search your quests" value="{{search_input}}">
        <button type="submit" class="gamer-search-btn">Search</button>

        {% if tasks|length > 0 %}
            <a href="{% url 'task-create' %}" class="gamer-add-quest-btn">Add Quest</a>
        {% endif %}
    
    
    </form>

    <div id="tasklist" class="gamer-task-receipt">
        {% for task in tasks %}
            <div class="gamer-task-item" data-position="{{task.pk}}">
                <div class="gamer-task-title">
                    {% if task.complete %}
                        <i><s><a href="{% url 'task-update' task.id %}" class="gamer-completed-task">{{task.title}}</a></s></i>
                    {% else %}
                        <a href="{% url 'task-update' task.id %}" class="gamer-incomplete-task">{{task.title}}</a>
                    {% endif %}
                </div>
                <div class="gamer-task-controls">
                    <a href="{% url 'task-update' task.id %}" class="gamer-complete-link">&#10003;</a>
                    <a href="{% url 'task-delete' task.id %}" class="gamer-delete-link">&#10060;</a>
                </div>
            </div>
        {% empty %}
            <div class="gamer-no-tasks">
                <h3>No new quests are created.</h3>
                <h3>Create a <a href="{% url 'task-create' %}" class="gamer-new-task-link">New quest</a>! </h3>
            </div>
        {% endfor %}
    </div>

    <!-- Hidden form. Form submits new item positions -->
    <form style="display: none;" id="reorderForm" method="post" action="{% url 'task-reorder' %}">
        {% csrf_token %}
        <input type="hidden" id="positionInput" name="position">
    </form>

    <script>
        var taskList = document.getElementById("tasklist");
        var reorderForm = document.getElementById("reorderForm");
        var positionInput = document.getElementById("positionInput");

        let sortable = Sortable.create(taskList, {
            handle: '.gamer-handle',
            ghostClass: 'gamer-dropArea',
            chosenClass: 'gamer-selectedTask',
        });

        function reordering() {
            const rows = document.getElementsByClassName("gamer-task-item");
            let pos = [];
            for (let row of rows) {
                pos.push(row.dataset.position);
            }
            console.log(pos.join(","))
            positionInput.value = pos.join(',');
            reorderForm.submit();
        }

        document.ondrop = reordering
    </script>
</div>

<style>
    .gamer-container {
        max-width: 500px;
        margin: auto;
        background-color: #1f1f1f;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        font-family: 'Arial', sans-serif;
        border-radius: 10px;
    }

    .gamer-header-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #3498db;
        color: #fff;
        padding: 10px;
        border-radius: 15px 15px 0 0;
        margin-bottom: 20px;
    }

    .gamer-header-bar-bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #222;
        color: #fff;
        padding: 10px;
        border-radius: 0 0 5px 5px;
        margin-bottom: 20px;
    }

    .gamer-logout-btn,
    .gamer-login-btn {
        text-decoration: none;
        color: #fff;
        padding: 5px 10px;
        border-radius: 3px;
        background-color: black;
        transition: background-color 0.3s;
        margin-left: 5px;
    }

    .gamer-logout-btn:hover,
    .gamer-login-btn:hover {
        background-color: #1a5276;
    }

    .gamer-search-form {
        display: flex;
        height: 40px;
        margin-bottom: 20px;
    }

    .gamer-search-form input {
        flex: 1;
        padding: 5px;
        border: 1px solid #ddd;
        background-color: #383838;
        border-radius: 10px 10px 10px 10px;
        color: #fff;
    }

    .gamer-search-btn {
        padding: 5px;
        border: 1px solid #ddd;
        border-radius: 10px 10px 10px 10px;
        background-color: #3498db;
        color: #fff;
        cursor: pointer;
        transition: background-color 0.9s;
        margin-right: 8px;
    }

    .gamer-add-quest-btn {
        display: inline-block;
        padding: 10px 10px;
        background-color: 	#2F4F4F;
        color: #fff;
        text-decoration: none;
        border: 2px solid #FFFF00;
        border-radius: 10px 10px 10px 10px;
        transition: background-color 0.3s;
    }
    
    .gamer-add-quest-btn:hover {
        background-color: #696969;
    }
    

    .gamer-task-btn {
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 0 3px 3px 0;
        background-color: purple;
        color: #fff;
        cursor: pointer;
        transition: background-color 0.9s;
    }

    .gamer-task-btn:hover {
        background-color: #2575a8;
    }

    .gamer-search-btn:hover {
        background-color: #2575a8;
    }

   

    .gamer-task-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        border-bottom: 1px solid #FFF;
        font-size: 14px;
        background-color: #383838;
        border-radius: 5px;
        margin-bottom: 5px;
    }

    .gamer-task-title {
        flex: 1;
    }

    .gamer-incomplete-task {
        color: #87CEFA;
        text-decoration: none;
    }

    .gamer-completed-task {
        text-decoration: line-through;
        color: #008080;
    }

    .gamer-delete-link {
        color: #FF8C00;
        text-decoration: none;
        margin-left: 10px;
        cursor: pointer;
    }

    .gamer-complete-link {
        color: #00FFFF;
        text-decoration: none;
        margin-left: 10px;
        cursor: pointer;
    }

    .gamer-handle {
        cursor: grab;
    }

    .gamer-handle:active {
        cursor: grabbing;
    }

    .gamer-no-tasks {
        text-align: center;
        padding: 20px;
    }

    .gamer-new-task-link {
        color: #3498db;
        text-decoration: none;
    }

    .gamer-new-task-link:hover {
        text-decoration: underline;
    }

    .gamer-add-task-btn {
        display: block;
        text-align: center;
        height: 17px;
        padding: 10px;
        font-size: 16px;
        color: #fff;
        background-color: #2ecc71;
        border: 2px solid #2ecc71;
        border-radius: 50px;
        transition: background-color 0.3s, color 0.3s;
        text-decoration: none;
        margin-top: 10px;
    }

    .gamer-add-task-btn:hover {
        background-color: #27ae60;
    }
</style>

{% endblock content %}
